[submodule "reference/bilateral-filter"]
	path = reference/bilateral-filter
	url = https://github.com/muhammedshahid/bilateral-filter.git
[submodule "reference/RgbQuant.js"]
	path = reference/RgbQuant.js
	url = https://github.com/leeoniya/RgbQuant.js.git
[submodule "reference/angular"]
	path = reference/angular
	url = https://github.com/angular/angular.git
